:root {
    --ocean: rgb(56, 71, 158);

}

* {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 23px;
    color: rgb(255, 255, 255);
    background-color: var(--ocean)
}

.main-weather-container {
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    outline: 5px solid rgb(0, 0, 0);
    margin-left: auto;
}

.current-conditions {
    font-size: 30px;
    line-height: 40px;
    margin: 10px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* outline: 5px solid rgb(0, 0, 0); */
}

h2 {
    font-size: 40px;
    padding: 10px;
    margin-right: 20px;
    width: 75%;
    margin-left: auto;
}

.five-day-forecast {
    padding: 10px;
    margin-right: 20px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    outline: 5px solid rgb(0, 0, 0);
    margin-left: auto;
}

.search-city-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    font-size: 500px;
    padding: 10px;
    margin: 20px;
    width: 20%;
    border-radius: 10px;
    outline: 5px solid rgb(0, 0, 0);
}

.search-city-container > input, button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.search-city-container > button {
    color: white;
    background-color: var(--ocean);
}

.day-1-future, .day-2-future, .day-3-future, .day-4-future, .day-5-future {
    font-size: 30px;
    line-height: 40px;
    margin: 10px;
    border-radius: 10px;
    padding: 40px;
    outline: 5px solid rgb(0, 0, 0);
    color: white;
    background-color: var(--ocean);
}
